In [ ]:
1.  values='hello',-87.8,6
expressions=*,-,+,/

In [ ]:
2.  "Variables will store data,it will take memory space based on the type of value assigned to them."
"Creating variables in Python is simple,  we write the variable name on the left side of = and the value on the right side"
a="vandana"
a is a variable
vandana is a string
"string is a value that can be alphaneumeric but enclosed with quotes"

In [ ]:
3.  ##3 different data types:int , float, complex
    "integer is a positive and negative whole number.  ex:3,-9,8"
     "float is a number with floating point. ex:5.9,6.7"
     "complex numbers contain real part and imaginary part ex: "

In [ ]:
4.  #expression:
#An expression is combination of operands and operators that will produce to give  some other value. 
#An expression is evaluated based on  the precedence of its operators.
If we have more than one operator in on expression, based on the precedence  operation will be done.

In [ ]:
5.   An expression evaluates to a single value. A statement does not. The statement is just like a command that a python interpreter executes like print.

In [1]:
6.  bacon = 22 
v=bacon + 1
print(v)     #ans 23

23

In [2]:
print('spam'+'spamspam')

spamspamspam

In [3]:
print('spam'*3)

spamspamspam

In [ ]:
  7.  ans both will give same

In [ ]:
8.  Because we canâ€™t start giving variable an integer. Eg. 1000, 10eggs and 1e are invalid. But e1000, eggs1000 are valid.

In [ ]:
9.
float()=float
int()=integer
str()=string

In [ ]:
10.
#because 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we need to change the type of integer as string